<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>springMvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--configure the configuration file for spring-->
        <!--the default one is servlet-name-servlet.xml under webapp/WEB-INF-->
        <!--this one can be accessed in the init method or getServletContext().getInitParameter("context/param") in other method-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:springDispatcherServlet.xml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>springMvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--define the configuration file of spring-->
    <!--default one is applicationContext.xml under webapp/WEB-INF-->
    <!--this is the super container of spring-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:superSpringContainerConfig.xml
        </param-value>
    </context-param>

    <!--load the configuration default and defined by context param-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>jspServlet</servlet-name>
        <jsp-file>/jspServlet.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>jspServlet</servlet-name>
        <url-pattern>/jspServlet</url-pattern>
    </servlet-mapping>

</web-app>